
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sources</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Home</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/Home/History">History</a></li>
                    <li class="active"><a href="/Sources/Index">Sources</a></li>
                </ul>
            </div>
        </nav>
        <div class="text-center">
            <h2>Sources</h2>
        </div>
        <div>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="/Sources/Books">Books</a></li>
                <li role="presentation"><a href="/Sources/Links">Links</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
