@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>History</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Home</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Home/History">History</a></li>
                    <li><a href="/Sources/Index">Sources</a></li>
                </ul>
            </div>
        </nav>
        <div class="text-center">
            <h2>History</h2>
            <p>A Brief History.</p>
        </div>
    </div>
</body>
</html>
